# Dataset 5 : GSE152532_series_matrix

In [1]:
# Import necessary library
import pandas as pd

# Set the file path for the input TXT file
file_path = r"C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\raw\GSE152532_series_matrix.txt"

# Load the TXT file into a Pandas DataFrame, skipping metadata lines
dataset5 = pd.read_csv(file_path, sep='\t', skiprows=28)

C:\Users\dilan\AppData\Local\Temp\ipykernel_25984\323092205.py:8: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset5 = pd.read_csv(file_path, sep='\t', skiprows=28)

In [2]:
# Display the first 5 rows
dataset5.head()

,!Sample_title,3998405006_A,3998405006_B,3998405006_C,3998405006_D,3998405006_E,3998405006_F,3998405006_G,3998405006_H,3998405006_I,...,3998787146_C,3998787146_D,3998787146_E,3998787146_F,3998787146_G,3998787146_H,3998787146_I,3998787146_J,3998787146_K,3998787146_L
0,!Sample_geo_accession,GSM4617546,GSM4617547,GSM4617548,GSM4617549,GSM4617550,GSM4617551,GSM4617552,GSM4617553,GSM4617554,...,GSM4617683,GSM4617684,GSM4617685,GSM4617686,GSM4617687,GSM4617688,GSM4617689,GSM4617690,GSM4617691,GSM4617692
1,!Sample_status,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,...,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021,Public on Dec 08 2021
2,!Sample_submission_date,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,...,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020,Jun 15 2020
3,!Sample_last_update_date,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,...,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021,Dec 08 2021
4,!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

## Get the transpose of the dataset

In [3]:
# Transpose the dataset
transpose_dataset5 = dataset5.T

# Reset the index to make the transposed column names into a header
transpose_dataset5.columns = transpose_dataset5.iloc[0]
transpose_dataset5 = transpose_dataset5.drop(transpose_dataset5.index[0])

# Display the first few rows of the transposed data
transpose_dataset5.head()

!Sample_title,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1,...,ILMN_3311075,ILMN_3311085,ILMN_3311110,ILMN_3311135,ILMN_3311150,ILMN_3311155,ILMN_3311165,ILMN_3311180,ILMN_3311190,!series_matrix_table_end
3998405006_A,GSM4617546,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,tissue: blood,cohort: Active TB,...,6.714162,7.039917,6.926566,6.803833,6.623071,6.733781,6.930645,6.615144,7.294382,NaN
3998405006_B,GSM4617547,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,tissue: blood,cohort: Latent TB,...,6.633075,6.770975,6.89695,6.766506,6.79764,6.691403,6.936244,6.763646,7.251604,NaN
3998405006_C,GSM4617548,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,tissue: blood,cohort: Latent TB,...,6.86342,6.821641,6.670919,6.668476,6.700987,6.615083,6.648317,6.731399,7.400064,NaN
3998405006_D,GSM4617549,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,tissue: blood,cohort: Active TB,...,6.725482,6.954584,6.78011,6.690325,6.541082,6.823377,6.960371,6.679189,6.8301,NaN
3998405006_E,GSM4617550,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,tissue: blood,cohort: Active TB,...,6.684553,6.786066,6.731071,6.766153,6.646496,6.721719,6.94881,6.741878,7.163649,NaN

In [4]:
# Check basic information about the dataset, including data types and non-null counts
transpose_dataset5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 3998405006_A to 3998787146_L
Columns: 27994 entries, !Sample_geo_accession to !series_matrix_table_end
dtypes: object(27994)
memory usage: 31.4+ MB

## Handling Duplicate Rows

In [5]:
transpose_dataset5.drop_duplicates(subset=['ID_REF'], keep='first', inplace=True)

## Handling Duplicate Columns

In [6]:
# Identify columns that start with '!Sample_characteristics_ch1' by their index positions
# The duplicate columns are in positions known by inspection with indices 8, 9, 10, and 11
characteristics_indices = [9]

# Extract and rename each column using its index position
transpose_dataset5['!Sample_stage'] = transpose_dataset5.iloc[:, characteristics_indices[0]]

# Drop the original duplicated columns by their indices
transpose_dataset5.drop(transpose_dataset5.columns[characteristics_indices], axis=1, inplace=True)

# Reorder the columns to place the new columns at the front
# Create a new order by specifying the newly created columns first
new_column_order = ['!Sample_stage'] + \
                   [col for col in transpose_dataset5.columns if col not in ['!Sample_stage']]

# Reassign columns to the DataFrame in the new order
transpose_dataset5 = transpose_dataset5[new_column_order]

In [7]:
# Display the first few rows of the transposed data
transpose_dataset5.head()

!Sample_title,!Sample_stage,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_growth_protocol_ch1,...,ILMN_3311075,ILMN_3311085,ILMN_3311110,ILMN_3311135,ILMN_3311150,ILMN_3311155,ILMN_3311165,ILMN_3311180,ILMN_3311190,!series_matrix_table_end
3998405006_A,cohort: Active TB,GSM4617546,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,No in vitro stimulation,...,6.714162,7.039917,6.926566,6.803833,6.623071,6.733781,6.930645,6.615144,7.294382,NaN
3998405006_B,cohort: Latent TB,GSM4617547,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,No in vitro stimulation,...,6.633075,6.770975,6.89695,6.766506,6.79764,6.691403,6.936244,6.763646,7.251604,NaN
3998405006_C,cohort: Latent TB,GSM4617548,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,No in vitro stimulation,...,6.86342,6.821641,6.670919,6.668476,6.700987,6.615083,6.648317,6.731399,7.400064,NaN
3998405006_D,cohort: Active TB,GSM4617549,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,No in vitro stimulation,...,6.725482,6.954584,6.78011,6.690325,6.541082,6.823377,6.960371,6.679189,6.8301,NaN
3998405006_E,cohort: Active TB,GSM4617550,Public on Dec 08 2021,Jun 15 2020,Dec 08 2021,RNA,1,blood,Homo sapiens,No in vitro stimulation,...,6.684553,6.786066,6.731071,6.766153,6.646496,6.721719,6.94881,6.741878,7.163649,NaN

## Unnecessary Feature Elemination

In [8]:
# Identify columns where all values are the same
columns_to_drop = transpose_dataset5.columns[transpose_dataset5.nunique() == 1]

# Drop those columns
data5 = transpose_dataset5.drop(columns=columns_to_drop)

In [9]:
# Drop columns with more than 50% missing values
# Calculate threshold for dropping columns
threshold = len(data5) * 0.5
data5 = data5.dropna(thresh=threshold, axis=1)

In [10]:
# Drop the columns which wonâ€™t contribute to distinguishing TB states.
columns_to_drop = [
    '!Sample_geo_accession', '!Sample_supplementary_file', 'ID_REF'
]

data5.drop(columns=columns_to_drop, inplace=True)

In [11]:
# Select the first 5 columns
first_5_columns = data5.columns[:5]

# Create an empty list to store the rows
rows = []

# Loop through each of the first 5 columns
for col in first_5_columns:
    # Get the data type of the column using the Series dtype
    data_type = data5[col].dtypes  # Access the dtype via .dtypes (not .dtype)

    # Get the first two row values of the column
    row_value_1 = data5[col].iloc[0]
    row_value_2 = data5[col].iloc[1]

    # Append the information as a row to the list
    rows.append({
        'Feature': col,
        'Data Type': data_type,
        'Row Value 1': row_value_1,
        'Row Value 2': row_value_2
    })

# Convert the list of rows into a DataFrame
result_df = pd.DataFrame(rows)

# Display the result
result_df

         Feature Data Type        Row Value 1        Row Value 2
0  !Sample_stage    object  cohort: Active TB  cohort: Latent TB
1   ILMN_1343048    object        14.10423031        14.14082714
2   ILMN_1343049    object        14.10341506        14.08107145
3   ILMN_1343050    object        8.434600037        8.848045998
4   ILMN_1343052    object        8.746396223        9.119739406

## Handling Missing values

In [12]:
# Check for missing values
data5.isnull().sum()

!Sample_title
!Sample_stage    0
ILMN_1343048     0
ILMN_1343049     0
ILMN_1343050     0
ILMN_1343052     0
                ..
ILMN_3311150     0
ILMN_3311155     0
ILMN_3311165     0
ILMN_3311180     0
ILMN_3311190     0
Length: 27961, dtype: int64

In [13]:
# Check for missing values and print only columns with missing values
missing_values = data5.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Creating the Target Column - TB_Status

In [14]:
# Get unique categories in the "!Sample_illness" column
unique_categories = data5["!Sample_stage"].unique()

# Display the unique categories
unique_categories

array(['cohort: Active TB', 'cohort: Latent TB', 'cohort: Control'],
      dtype=object)

In [15]:
# Define a function to categorize each sample type
def categorize_sample_type(source_name):
    source_name = source_name.lower()
    if 'cohort: active tb' in source_name:
        return 'Active TB'
    elif 'cohort: latent tb' in source_name:
        return 'Latent TB'
    else:
        return 'Healthy Control'

# Apply the function to the "!Sample_illness" column
data5['TB_Status'] = data5['!Sample_stage'].apply(categorize_sample_type)

# Display unique values in the new 'TB_Status' column to verify
print(data5['TB_Status'].unique())

['Active TB' 'Latent TB' 'Healthy Control']

In [16]:
data5.sample(5)

!Sample_title,!Sample_stage,ILMN_1343048,ILMN_1343049,ILMN_1343050,ILMN_1343052,ILMN_1343061,ILMN_1343062,ILMN_1343063,ILMN_1343064,ILMN_1343291,...,ILMN_3311075,ILMN_3311085,ILMN_3311110,ILMN_3311135,ILMN_3311150,ILMN_3311155,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998405021_H,cohort: Latent TB,14.3965852,14.23697474,9.109260713,9.304907392,10.74809575,11.88112589,7.693159199,8.198195182,13.77290729,...,6.771431,6.921333,6.888852,6.835074,6.740335,6.801963,6.846176,6.664444,7.132932,Latent TB
3998405155_A,cohort: Latent TB,14.25730829,14.11004061,9.264387355,9.230654509,11.55418394,12.58823959,7.768821769,8.536676035,13.70061372,...,6.653825,6.890925,6.800249,6.880435,6.771799,6.753871,6.952468,6.625898,7.20421,Latent TB
3998787142_K,cohort: Latent TB,14.21197261,14.06161996,9.449645596,9.330400323,11.68110817,12.8128794,8.10006967,8.869947226,13.51233902,...,6.594635,6.934098,6.711042,6.862917,6.793351,6.748725,6.88349,6.730454,7.426541,Latent TB
3998755016_I,cohort: Latent TB,14.25366128,14.10766314,8.847803653,8.896187874,11.063438,12.23373936,7.654890352,8.312204651,13.77188159,...,6.765574,6.871673,6.831124,6.685234,6.587585,6.879976,6.817792,6.720011,6.900386,Latent TB
3998755028_J,cohort: Latent TB,14.0922426,14.06741013,9.554311877,9.606395558,11.93384138,13.08873761,8.289849425,9.149107836,13.76511543,...,6.784056,6.77791,6.75674,6.810205,6.652067,6.824041,6.799196,6.691495,7.119323,Latent TB

In [17]:
# Drop the '!Sample_stage' column.
data5.drop('!Sample_stage', axis=1, inplace=True)

## Data Type Conversion

In [18]:
# Convert columns that should be numeric (e.g., ILMN_1343291, ILMN_1343295)
# Select columns that start with "ILMN_"
ilmn_columns = data5.columns[data5.columns.str.startswith('ILMN_')]

# Convert all 'ILMN_' columns to numeric
data5[ilmn_columns] = data5[ilmn_columns].apply(pd.to_numeric, errors='coerce')

# Verify the data types of the columns
print(data5[ilmn_columns].dtypes)

!Sample_title
ILMN_1343048    float64
ILMN_1343049    float64
ILMN_1343050    float64
ILMN_1343052    float64
ILMN_1343061    float64
                 ...
ILMN_3311150    float64
ILMN_3311155    float64
ILMN_3311165    float64
ILMN_3311180    float64
ILMN_3311190    float64
Length: 27960, dtype: object

In [19]:
# Convert target column ('TB_Status') to categorical
data5['TB_Status'] = data5['TB_Status'].astype('category')

# Verify the data type of the column
print(data5['TB_Status'].dtypes)

category

In [20]:
dataset5 = data5.copy()

## Encode the target labels in the target column (TB_Status)

In [21]:
data5 = dataset5.copy()

In [22]:
# Display random 5 rows
data5.sample(5)

!Sample_title,ILMN_1343048,ILMN_1343049,ILMN_1343050,ILMN_1343052,ILMN_1343061,ILMN_1343062,ILMN_1343063,ILMN_1343064,ILMN_1343291,ILMN_1343295,...,ILMN_3311075,ILMN_3311085,ILMN_3311110,ILMN_3311135,ILMN_3311150,ILMN_3311155,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998787142_F,14.322955,14.267943,9.821875,9.603553,11.991954,13.185214,8.290930,9.130712,13.635197,10.836114,...,6.847866,6.893042,6.778638,6.782224,6.634780,6.680690,6.986389,6.644156,7.336422,Latent TB
3998755028_F,14.211652,14.033536,9.152453,9.090824,11.605303,12.451840,7.806533,8.704834,13.879293,11.280553,...,6.777007,6.872658,6.710717,6.669386,6.601745,6.696100,6.961102,6.642774,6.940624,Latent TB
3998405152_G,14.245622,14.293908,9.375385,9.442273,11.700663,12.692265,7.958624,8.594244,13.854974,10.576714,...,6.865822,6.825747,6.688352,6.894693,6.626254,6.742699,7.024197,6.705458,6.976469,Latent TB
3998755016_D,14.352089,14.267943,10.245482,10.303217,12.674166,13.363294,8.795899,9.756350,13.524778,10.946926,...,6.714164,6.785119,6.622125,6.873793,6.674283,6.827439,6.871999,6.720642,7.696890,Latent TB
3998755015_C,14.117069,14.246759,8.896809,9.006587,10.927174,11.771957,7.773447,8.220597,14.062755,11.124128,...,6.751870,6.827321,6.648523,6.611142,6.889635,6.735359,6.749043,6.633620,7.031239,Active TB

## Standardizing/Normalizing Numeric Data

In [23]:
from sklearn.preprocessing import StandardScaler

# Select only the numeric columns in the dataset
numeric_columns = data5.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the numeric columns and transform them
data5[numeric_columns] = scaler.fit_transform(data5[numeric_columns])

# Display random 5 rows to verify the standardization
data5.sample(5)

!Sample_title,ILMN_1343048,ILMN_1343049,ILMN_1343050,ILMN_1343052,ILMN_1343061,ILMN_1343062,ILMN_1343063,ILMN_1343064,ILMN_1343291,ILMN_1343295,...,ILMN_3311075,ILMN_3311085,ILMN_3311110,ILMN_3311135,ILMN_3311150,ILMN_3311155,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998755016_I,0.336867,0.063550,-0.555734,-0.640628,-0.167172,0.017189,-0.583489,-0.486513,-0.664003,2.271632,...,0.085991,0.264014,0.634040,-0.633162,-1.150490,1.818859,-0.449789,0.313929,-1.661756,Latent TB
3998755016_B,0.543567,0.665228,0.055284,0.076999,0.276072,0.484394,-0.201379,0.154634,-0.282233,2.516289,...,0.697356,0.205563,-0.114320,5.074174,0.791145,1.465189,2.834209,0.951144,-0.458282,Latent TB
3998405022_A,-1.043863,-1.036118,0.418127,-0.052523,1.012462,0.423231,0.016913,0.402974,0.374498,-0.683991,...,-0.167786,-0.500300,-0.384322,-0.426469,0.094346,0.588407,-0.135162,0.075242,0.097589,Latent TB
3998787105_L,-1.895176,-0.997872,-0.823929,-0.581115,-0.963827,-0.934188,-0.750410,-0.879446,1.346979,-1.775070,...,-0.561145,0.793504,-0.182174,-0.324383,0.198965,0.847778,0.123428,0.519487,-0.164384,Latent TB
3998405022_H,0.774314,1.176980,-0.134524,-0.221171,0.399382,0.313487,-0.445224,-0.091421,1.082386,-0.228501,...,-0.552189,0.600963,0.684000,0.716650,0.123618,1.824331,-1.875115,-0.495316,-1.400606,Latent TB

## Handling Outliers

In [24]:
import numpy as np

# Select only the numeric columns
numeric_columns = data5.select_dtypes(include=['float64', 'int64']).columns

# Define a function to cap outliers
def cap_outliers(series):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap values outside the bounds to the respective bounds
    return np.where(series < lower_bound, lower_bound,
                    np.where(series > upper_bound, upper_bound, series))

# Apply the function to each numeric column
for col in numeric_columns:
    data5[col] = cap_outliers(data5[col])

# Display the random 5 rows to verify the changes
data5.sample(5)

!Sample_title,ILMN_1343048,ILMN_1343049,ILMN_1343050,ILMN_1343052,ILMN_1343061,ILMN_1343062,ILMN_1343063,ILMN_1343064,ILMN_1343291,ILMN_1343295,...,ILMN_3311075,ILMN_3311085,ILMN_3311110,ILMN_3311135,ILMN_3311150,ILMN_3311155,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998755031_D,0.987530,1.159691,0.835693,0.879188,0.579155,0.703524,1.117924,0.595387,-1.600645,-0.253268,...,1.158145,0.784882,0.416557,-1.172454,-0.832263,0.767030,0.158188,1.444844,1.338885,Latent TB
3998405152_B,-0.097168,-0.318568,-0.576923,-0.640346,0.131932,0.064779,-0.621630,-0.383756,2.358882,0.521427,...,-2.072004,-0.545913,-0.589716,-0.428763,-0.030661,0.040309,0.055085,-1.283002,-1.557522,Latent TB
3998405022_A,-1.043863,-1.036118,0.418127,-0.052523,1.012462,0.423231,0.016913,0.402974,0.374498,-0.683991,...,-0.167786,-0.500300,-0.384322,-0.426469,0.094346,0.588407,-0.135162,0.075242,0.097589,Latent TB
3998405009_H,0.647854,-0.336298,-0.757823,-0.893815,-0.548700,-0.478077,-0.551566,-0.812543,1.012924,-0.435538,...,-0.188135,-1.323857,-1.543186,-0.041822,-0.141332,-1.123477,-0.445417,2.609816,-1.478152,Latent TB
3998787142_A,0.334754,0.274755,-0.949617,-1.109452,-0.824873,-0.663303,-0.945554,-0.846002,1.404365,0.311169,...,-1.405191,-0.458630,-0.100641,-0.606289,-0.040794,1.516284,-0.804109,-0.121263,0.674184,Latent TB

In [25]:
# Save the DataFrame as a CSV file
output_csv_path = r'C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset5.csv'
data5.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset5.csv